html {
    margin: 0;
    padding: 0;
    background-color: black;
}

main {
    color: white;
}

.title {
    text-align: center;
    padding: 10px 0;
}

.title img {
    width: 400px;
    height: 250px;
}

.instruction-head {
    font-size: 36px;
}

.instruction-table {
    margin: 0 auto;
    
}

.instruction-number{
    font-size: 24px;
    padding-right: 10px;
}

.instruction-text {
    padding: 0;
}

.game-selector {
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.game-img {
    width: 200px;
    margin: 50px 50px 0 50px;
    cursor: pointer;
    border: 4px black solid;
}

.game-img:hover {
    border: 4px red solid;

}

.results {
    display: none;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;

}

.choice {
    text-align: center;
    margin: 0 auto;
}

.winner-loser {
    width: 100%;
    font-size: 50px;
}

.button {
    width: 100px;
    height: 75px;
    margin: 0 auto;
    border: 3px blue solid;
    border-radius: 25px;
    background-color: green;
    cursor: pointer;
}

.streakCounter {
    display: flex;
    justify-content: center;
}

.counterDiv {
    text-align: center;
    font-size: 24px;
}

.counter {
    margin: 25px;
    font-size: 36px;
    border: 2px red solid;
    width: 150px;
    height: 100px;
    text-align: center;
    background-color: white;
    color: black;
}
